@charset "UTF-8"; 


body{
    background-image: url('../imagem/fundo1.jpeg');
    background-size: 350px;
    text-align: center;
    max-width: 100% 0;
    padding: 70px 0 0 0 ;
    padding-top: auto;
}

form {
        background-color: rgb(255, 255, 255);
        margin: -30px auto;
        width: 100%;
        padding: 1em;
        border: 15px solid rgb(218, 217, 217);
        border-radius: 3em;
        padding-top: 10px;
        padding: 10px 15px 35px 15px ;
       border-color: rgb(240, 219, 193);font-family:monospace;
       font-size: 15px;

}


fieldset{
    border: 90px;
    background-color:rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    
}

p{
    text-align: justify;
}




a{
    text-decoration:none !important;
    color: black;
}

img{
   height: auto;
   width: 200px; 
}

.inputSubmit{
    background-color: rgb(155, 100, 34);
    border-radius: 10px !important;
    color: rgb(255, 255, 255);
    height: 30px;
    width: 40%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center !important;
    text-decoration: none;
    line-height: 20px;   
    border: 2px solid rgb(155, 100, 34);
    background-color: rgb(155, 100, 34);
    
}

